<footer class="footer bg-dark">

        <p class="text-center">
            <span class="text-light">&copy; 2019 - 软经典</span>
            <a class="text-light" target="_blank" href="http://www.miitbeian.gov.cn/">鄂ICP备19003426号</a>
        </p>
    </footer>

    <!--<script src="//code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"-->
        <!--crossorigin="anonymous"></script>-->
    <script type="text/javascript" src="__STATIC__/home/js/popper.min.js"></script>
   <script type="text/javascript" src="__STATIC__/home/js/bootstrap.min.js"></script>
    <!-- <script>
        var _hmt = _hmt || [];
        (function () {
            var hm = document.createElement("script");
            hm.src = "https://hm.baidu.com/hm.js?292945d726b0bc3358bf43ff9409093e";
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hm, s);
        })();
    </script> -->