<footer class="footer bg-dark">
        <!-- <ul class="text-center">
            <li class="nav-item">
                <a class="nav-link text-light" href="https://github.com/doghappy" style="padding:0 8px" target="_blank">
                    <i class="fa fa-github fa-2x"></i>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-light" href="mailto:hero_wong@outlook.com" style="padding:0 8px" target="_blank">
                    <i class="fa fa-envelope fa-2x" aria-hidden="true"></i>
                </a>
            </li>
        </ul> -->
        <p class="text-center">
            <span class="text-light">&copy; 2019 - 软经典</span>
            <a class="text-light" target="_blank" href="http://www.miitbeian.gov.cn/">鄂ICP备19003426号</a>
        </p>
    </footer>

    <script src="//code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <script src="//stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T"
        crossorigin="anonymous"></script>

    <!-- <script>
        var _hmt = _hmt || [];
        (function () {
            var hm = document.createElement("script");
            hm.src = "https://hm.baidu.com/hm.js?292945d726b0bc3358bf43ff9409093e";
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hm, s);
        })();
    </script> -->