<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">

    <script type="text/javascript">
        // var googleUrl = 'google_translate/';
        var googleUrl = '__STATIC__/home/js/google_translate/';
        function googleTranslateElementInit() {
            new google.translate.TranslateElement({
                pageLanguage: '',
                includedLanguages: 'zh-CN,zh-TW,en,ms,vi,th,sq',//这里的语言可以去谷歌翻译里面审查元素
                layout: google.translate.TranslateElement.FloatPosition.TOP_LEFT
            }, 'google_translate_element');
        }
        // $(function () {
        //     $.getScript(googleUrl + "element.js?cb=googleTranslateElementInit");
        // });
    </script>
    <!--<script type="text/javascript" src="__STATIC__/home/js/google_translate/jquery.min.js"></script>-->
    <!--<script type="text/javascript" src="__STATIC__/home/js/google_translate/element.js"></script>-->
    <!--<script type="text/javascript" src="__STATIC__/home/js/google_translate/element_main.js"></script>-->
    <!--<script type="text/javascript" src="__STATIC__/home/js/google_translate/main_zh-CN.js"></script>-->
    <style>
        /* 隐藏顶部浮动栏选项  */
        body { position: static !important; top:0px !important; }
        iframe.goog-te-banner-frame { display: none !important; }
        .goog-logo-link { display:none !important; }
        .goog-te-gadget { color: transparent !important; overflow: hidden;}
        .goog-te-balloon-frame{display: none !important;}
        .goog-te-banner-frame {
            display: none !important;
        }
        .goog-te-combo {
            background-color: transparent;
            color: #333;
            border: none;
        }
        ::-webkit-input-placeholder {
            color: #8f7c85;
            font-weight: bold;
        }
    </style>
    <a class="navbar-brand" href="{:url('article/index')}">
        <img src="__STATIC__/home/icon/xiongmaoeasyicon.net.ico" width="30" height="30" class="d-inline-block align-top" />
        软经典
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
            {volist name="category" id="vol"}
                {if condition="$vol.id eq $cid"}
                    <li class="nav-item active">
                {else/}
                    <li class="nav-item ">
                {/if}
                    <a class="nav-link" href="{:url('article/index')}?cid={$vol.id}">
                        <i class="{$vol.style}"></i>
                        {$vol.class_name}
                    </a>
                </li>
            {/volist}
    
     
            {if condition="$cid eq 100000"}
                <li class="nav-item active" >
            {else/}
                <li class="nav-item" >
            {/if}
                <a class="nav-link" href="{:url('article/about')}">
                    <i class="fa fa-user"></i>
                    关于
                </a>
            </li>
        </ul>
        <div id="google_translate_element"></div>
        <form class="form-inline col-sm-2" method="get" style="padding:0;" action="{:url('article/search')}">
            <input type="text" name="keyword" class="form-control form-control-sm"
                   style="width:100%; max-width:unset;"
                   placeholder="搜索一下"
                   value="" />
        </form>
    </div>
</nav>
