<div class="jumbotron" id="paginationTarget">
    <div class="container body-content animated zoomIn">
        <div class="row">
            <div class="col-md-6">
                <img src="https://www.microsoft.com/net/images/redesign/shared/developers-at-desk.svg?v=zmyD_fnoax3vsHlb11A9hjWhtNicdVy1Lk3i6KclMzU" />
            </div>
            <div class="col-md-6">
                <h1 class="display-4 netColor">PHP</h1>
                <p class="lead">
                    免费、跨平台、开源<br />
                    PHP是一门脚本语言，基本用在web应用中的中间层，负责数据库以及前台页面交互和信息传递。
                    <br />
                    <code>开发周期短、</code>
                    <code>稳定、</code>
                    <code>安全、</code>
                    <code>简单易学、</code>
                    <code>跨平台</code>
                  
                </p>
            </div>
        </div>
    </div>
</div>